<!DOCTYPE html>
<html>
<head>
    <title>Обозначения</title> 
    <meta charset="UTF-8">    
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
        .tg .tg-baqh{text-align:center;vertical-align:top}
        th.tg-sort-header::-moz-selection { background:transparent; }th.tg-sort-header::selection      { background:transparent; }th.tg-sort-header { cursor:pointer; }table th.tg-sort-header:after {  content:'';  float:right;  margin-top:7px;  border-width:0 4px 4px;  border-style:solid;  border-color:#404040 transparent;  visibility:hidden;  }table th.tg-sort-header:hover:after {  visibility:visible;  }table th.tg-sort-desc:after,table th.tg-sort-asc:after,table th.tg-sort-asc:hover:after {  visibility:visible;  opacity:0.4;  }table th.tg-sort-desc:after {  border-bottom:none;  border-width:4px 4px 0;  }
    </style>
</head>
<body>
    <table id="tg-IHq3A" class="tg">
        <tr>
            <th class="tg-baqh"><b>Символ</b></th>
            <th class="tg-baqh"><b>Цвет</b></th>
            <th class="tg-baqh"><b>Код {{manufacturer}}</b></th>
            <th class="tg-baqh"><b>Количество<br>крестиков</b></th>
        </tr>
        {{#palette}}
        <tr>
            <td class="tg-baqh"><img alt="{{code}}" src="data:image/png;base64,{{symbol_png_data}}"/></td>
            <td class="tg-baqh"><img alt="{{rgb_hex_string}}" src="data:image/png;base64,{{color_sample_png_data}}"></td>
            <td class="tg-baqh"><b>{{code}}</b></td>
            <td class="tg-baqh">{{npixels}}</td>
        </tr>
        {{/palette}}    
    </table>
</body>
</html>